Button {
    margin: 1 1;
    border: none;
    min-width: 7;
    height: 1;
    background: purple;
}

Input {
  border: hkey purple; 
  background: #282828;
  height: 3;
}

LoadingIndicator {
  height: 3;
  color: purple;
  content-align: left middle;
  padding-left: 2;
  border: hkey purple; 
  background: #282828;
}

ContentSwitcher {
  height: 3;
}

Horizontal {
  height: 3;
}

Label {
  background: purple;
  padding: 0 1;
  margin: 0 1;
}

Hint {
  background: purple;
}

Footer {
  background: purple;
}

Footer > .footer--key {
  background: #5b0a91;
}
